.btn-insert{
    position: relative;
    button{
        position: absolute;
        right: 0;
        top: -50px;
        font-size: 14px;
    }
}

button{
    &.edit{
        i{
            color: #17a2b8;
            font-size: 18px;
        }
    }
    &.del{
        i{
            color: #dc3545;
            font-size: 18px;
        }
    }
}

.table-pessoa{
    width: 100%;
    td, th {
        font-size: 12px;
        &:first-child{
            padding-left: 5px;
        }
        &:last-child{
            padding-right: 5px;
        }
    }
    .acoes{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
    }
}